<html>
<head>
  <title>Contact</title>
  <link rel="stylesheet" href="css/pagestyle.css">
</head>
<body>

  <header>

    <a href="index.html" class="logo"> Training Factory </a>

    <ul id="menu-principale">
      <li> <a href="index.html"> Home </a> </li>
      <li> <a href="chi-siamo.html"> Comment </a> </li>
      <li> <a href="contatti.html"> Contact </a> </li>
    </ul>

  </header>


  <main class="container">

    <div>

      <h1>Contact</h1>

    </div>

  </main>


  <footer>
<!--    <p> Copyright - P.iva 0000 000 000 -  N. tel 333 33 3333 - info@basketpavia.com </p>-->
    <p> Adress: - Brussels 1040 Street Chausse de Wavre 800 - N. tel 02 6451213  - info@trainingfactory.com</p>
  </footer>


</body>
</html>
